<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" >
  <test name="Test">
    <classes>
     
      <class name="apiTests.PostCrmAssignment"/>
      <class name="apiTests.PostFeAssignment"/>
      <class name="apiTests.GetShoppersById"/>
      <class name="apiTests.GetMerchantsDetail"/>
      <class name="apiTests.PostCancelOrder"/>
      <class name="apiTests.PostInsertOrder"/>
      
      <class name="apiTests.GetShopperBuCityId"/>
      <class name="apiTests.GetShopperByMerchantId"/>
      <class name="apiTests.PostUpdateMerchantThreshold"/>
      <class name="apiTests.PostUpdateMerchantType"/>
      <class name="apiTests.PostAddMerchant"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
